fastapi==0.111.0
uvicorn[standard]==0.29.0
gunicorn==22.0.0
azure-identity
#urllib.parse

#Remove in Production
src//api/packages/azure_ai_projects-1.0.0b1-py3-none-any.whl
src//api/packages/azure_ai_inference-1.0.0b5-py3-none-any.whl